*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: #281D1F;
}

/* HEADER */
header{
    background-color: #4B3738;
}

.caixa{
    width: 65%;
    margin: 0 auto 30px auto;
    padding: 30px 0;
}

.caixa nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
}

.caixa ul{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.caixa li{
    list-style: none;
    margin-right: 10px
}

.caixa h2{
    color: black;
}

.caixa a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
}

.caixa a:hover{
    color: black;
}

/* PRINCIPAL */

.container{
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #4B3738;
    border-radius: 20px;
}

#photo{
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
}

#photo:hover{
    opacity: 80%;
}

.container div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.container p{
    margin: 5px 0;
}

.container h2{
    margin-top: 20px;
}

/* CURRICULO */

.competencias{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #4B3738;
    padding: 30px;
    border-radius: 20px;
}

.competencias p{
    margin: 10px 0;
}

.competencias h2{
    margin: 20px 0 0 0;
}

.competencias a{
    transition: 0.5s;
}

.competencias a:hover{
    color: black;
}

/* CONTATOS */

.contatos{
    width: 65%;
    margin: 0 auto;
    background-color: #4B3738;
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;
    transition: 0.5S;
}

.contatos fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contatos h2{
    margin-bottom: 10px;
}

.contatos label{
    margin-bottom: 20px;
}

.contatos input{
    display: block;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.contatos textarea{
    color: black;
    border-radius: 5px;
}

/* FOOTER */

footer{
    margin: 30px 0 0 0;
    background-color: #4B3738;
}

.rodape{
    width: 65%;
    display: flex;
    padding: 15px 0;
    margin: 0 auto;
}

.rodape img{
    width: 40px;
    margin: 0 30px;
}

.absolute{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #4B3738;
}

@media(max-width: 500px){
    /* Header */
    *{
        width: initial;
    }
    .caixa{
        margin: 0 auto;
    }
    .caixa nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caixa ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    /* Principal */

    .container{
        width: initial;
        background-color: initial;
        display: flex;
        flex-direction: column;
    }

    .container div{
        margin: 0 auto;
    }

    #photo{
        margin-top: 20px;
        width: 80%;
        align-self: center;
    }

    /* Curriculo */

    .competencias{
        width: initial;
        background-color: initial;
    }

    /* Contatos*/
    .contatos{
        width: initial;
        background-color: initial;
    }

    .contatos fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contatos legend{
        text-align: center;
        margin-bottom: 20px;
    }

    .rodape{
        position: initial;
        width: initial;
        display: flex;
        justify-content: space-around;
    }

    .absolute{
        position: initial;
        width: initial;
    }
}